:root{
  --psgCyan: rgba(0, 175, 239, 1);
  --psgDarkBlue:rgba(53, 85, 131, 1);
}
.products-table {
  width: 80%;
}
.mat-header-cell{
  color: white;
}
.mat-column-title {
  width: 32px;
  border-right: 2px solid currentColor;
  padding-right: 24px;
  font-size: 20px;
}
.mat-header-row{
  background-color:   rgba(0, 175, 239, 1);

}
.mat-cell{
  background-color:  rgba(229, 236, 242, 1);
  color: rgba(63, 71, 101, 1);;
}
.mat-column-description {
  width: 30%;
  border-right: 1px dashed var(--psgDarkBlue);
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-price {
  width: 25px;
  border-right: 1px dashed var(--psgDarkBlue);
  padding-left: 16px;
  font-size: 20px;
}
.mat-column-discountPerc {
    width: 25px;
    border-right: 1px dashed var(--psgDarkBlue);
    padding-left: 16px;
    font-size: 20px;
  }
  .mat-column-rating {
    width: 25px;
    border-right: 1px dashed var(--psgDarkBlue);
    padding-left: 16px;
    font-size: 20px;
  }
  .mat-column-brand {
    width: 25px;
    border-right: 1px dashed var(--psgDarkBlue);
    padding-left: 16px;
    font-size: 20px;
  }
  .mat-column-thumbnail {
    width: 25px;
    padding-left: 16px;
    font-size: 20px;
    border-right: 1px dashed var(--psgDarkBlue);
  }
